<div class="mx-auto w-1/2 bg-orange-400 pt-12">
    <h1 class="text-4xl">HIGHSCORES</h1>
    <ul class="bg-slate-600">
        <% data.forEach(data => { %>
            <li class="m-20 flex justify-between space-x-5 bg-black"> 
                <p class="text-2xl"><%= data.name %></p>
                <p><%= data.time %>s</p>
                <p><%= data.wordLength %></p>

                
            </li>
        <% }); %> 
    </ul>
</div>