<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React + TS</title>
    <link rel="icon" href="data:,">
    <script type="module" crossorigin src="/assets/index-bf54b8d1.js"></script>
    <link rel="stylesheet" href="/assets/index-590dde95.css">
  </head>
  <body class="bg-yellow-200 w-screen h-screen">

    <header class="bg-yellow-300">
      <h1 class="text-6xl py-5 text-center font-extrabold font-sans text-transparent bg-clip-text bg-gradient-to-br from-orange-400 to-red-700">WORDLE</h1>
      <nav>
        <ul class="flex place-content-evenly">
          <li class="border-2 border-transparent hover:border-black drop-shadow-md w-1/2 text-center bg-orange-400 "><a href="/">Home</a></li>
          <li class="border-2 border-transparent hover:border-black drop-shadow-md w-1/2 text-center bg-orange-400 "><a href="/about">About</a></li>
          <li class="border-2 border-transparent hover:border-black drop-shadow-md w-1/2 text-center bg-orange-400 "><a href="/highscores">Highscores</a></li>
        </ul>
      </nav>
    </header>


    <%-body%>
    
  </body>
</html>
